<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Saludos</title>
    <link rel="stylesheet" href="/css/historyStyles.css">
</head>
<body>
<div class="container">
    <h1>Historial de Saludos</h1>
    <table id="greetingsTable">
        <thead>
        <tr>
            <th>Saludo</th>
            <th>Nombre</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <!-- Aquí se insertarán los datos -->
        </tbody>
    </table>
</div>

<script src="/js/historyRender.js"></script>
</body>
</html>
